* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

nav {
    gap: 48px;
    display: flex;
}

button {
    padding: 12px;
    border: none;
    font-size: 2rem;
    color: white;
    background-color: black;
}

.header > h1 {
    border: 1px solid black;
    font-size: 4rem;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    
}
.body-container {
    display: flex;
    align-items: center;
    background-color: grey;
}

.body-container > p {
    font-size: 2rem;
    font-weight: bold;
    margin: 24px;
}
.logo {
    width: 600px;
    height: 500px;
}

footer {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 214px;
   color: white;
   background-color: black;
}

footer > p{
    font-size: 1.5rem;
    font-weight: bold;
}